<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <div id="demo">

  {% if not current_user.is_authenticated %}
    <h1>Welcome to <b>Droptexts</b></h1>
    <h2>*FACEBOOK ACCOUNT REQUIRED</h2>
    <a class="btn btn-primary btn-block"  href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a>
  {% else %}

  <div class="stepwizard">
  <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">1</button>
            <p>ACCOUNT DETAILS</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle">2</button>
            <p>PROFILE SELECTION</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">3</button>
            <p>CONTACTS SELECTION</p>
        </div> 
              <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">4</button>
            <p>PROFILE VERIFICATION</p>
        </div>
              <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">5</button>
            <p>SEND CONFIRMATION</p>
        </div>
    </div>
</div>

  <div class="table-responsive-vertical shadow-z-1">
  <h1>Select Your Profile</h1>
    <a class="btn btn-warning btn-block" href="{{ url_for('new') }}">Create New Profile</a>
    <table class="table table-striped table-mc-light-blue">
    {% for profile in profiles %}
      <tr>
        <a class="btn btn-primary btn-block" href="{{ url_for('contacts', profile=profile.name) }}">{{ profile.name }}</a>
      </tr>
    {% endfor %}
      </table>
  {% endif %}
      </div>
      </div>
  </form>
{% endblock %}